#heading{
    cursor: pointer;
}

.overview-textarea{
    width: 95%;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    height: 112px;
}

.detail-textarea{
    resize: none;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}