.heading{
    height: 50px;
    cursor: pointer;
}

.row-distro{
    justify-content: space-between;
}

.bottom-text{
    position: absolute;
    bottom: 0px;
}

.span-height{
    text-align: end;
    font-weight: bold;
}