.background{
    background-color: none;
}

.homepage:hover{
    cursor: pointer;
}

.userColumn{
    width: 35%;
}

.productColumn{
    width: 65%;
}

.user-background{
    background-color: #f2f4fa;
}

.item-image{
    object-fit: cover;
}



@media (min-width: 320px) and (max-width: 575px){
    .userColumn{
        width: 100%;
        display: inline-block;
    }
    
    .productColumn{
        width: 100%;
        display: inline-block;
    }

    #name{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 785px){
    #name{
        width: 100%;
    }
}

@media (min-width: 786px) and (max-width: 991px){
    #name{
        width: 100px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    #name{
        width: 135px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px){
    #name{
        width: 160px;
    }
}

@media (min-width: 1400px){
    #name{
        width: 195px;
    }
}